[Unit]
Description=The Chainball Scoreboard
After=Network.target

[Service]
User=scoreboard
ExecStart=/usr/bin/board

[Install]
WantedBy=multi-user.target